@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-color : #6366f1
    --accent-color  : #3f83f8
    --text-color    : #333333 ;
    --link-color: #2563eb ;
    --background-color : #fff;
    --light-gray : #f0f0f0;
    --gray : #808080;
    --dark-gray : #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
}

.highlight-text{
    background-color: #000000;
    color: white;
    position: relative;
    padding: 1px 2px;
    border-radius: 2px;
    /* margin-right: 8px; */
    /* display: inline-block; */
    animation: shimmer 2s infinite linear;
    outline: none;
}

/* .highlight-text::selection{
    background-color: #ca1ebf;
    color: white;
} */

/* 
.header {
    border: solid 1px black;
}
 */

.logo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; /* optional if you want to adjust text */
     font-weight: 700; /* Bold */
    font-size: 32px;
    color: rgb(175, 0, 114);
}

a img {
    height: 40px; /* set desired height */
    width: auto;  /* keeps proportions */
}
 
.header-content {
    display: flex;
    justify-content: space-between; /* space between logo, nav, button */
    align-items: center;            /* vertically center everything */
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.logo-icon {
    /* size: 300%; */
    height: 40px;
    width: 80px;
    
}

.nav {
    display: none;
    gap: 1.5rem;
    font-weight: bold;
   
}

@media screen and (min-width : 768px) {
    .nav {
        display: flex;

    }    
}

.nav-link {
     color: #7190d2;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.Contact-Button{
    display: none;
    border: none;
    font-weight: bold;
    padding: 10px 20px ;
    background-color: #0040ff;
    color: #ffffff;
    border-radius: 3px;
    transition: all 0.1s;
}

@media screen and (min-width : 768px) {
    .Contact-Button {
        display: block;
    }
}
.Contact-Button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    background-color: #fff;
    padding: 0.5rem 1.0rem;
}

@media screen and (max-width : 768px) {
    .menu-button {
      display: block;

    }    
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;

}
            /* 1.HERO SECTION STYLING */
.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    align-items: center;
    margin: 0 auto ;

}

.content-left {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

.content-title{
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
}

.content-description {
    color: #555;
    font-size: 1.2rem;
}

.section-label {
    font-weight: 650;
    font-size: large;
    color: rgb(29, 102, 239);
}

.section-button {
     display: flex;
    /* justify-content: space-between; */ 
    padding: 1rem;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button { 
    background-color: #0040ff;
    color: white;
    padding: 10px  20px;
    border-radius: 3px;
    font-weight: bold;
}

.tour-button {
    background-color: black;
    color: white;
    padding: 10px  20px;
    border-radius: 3px;
    font-weight: bold;
}

.start-button:hover {
    background-color: #2456c2;
}

.tour-button:hover{
    background-color: #292626;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-image {
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px){
     .main-section{
        flex-direction: row;

    }   
    
     .content-left {
        max-width: 50%;
        text-align: left;
     }

     .content-title{
        padding-left: 0;
     }
     .section-button{
        justify-content: start;
        padding-left: 0;
     }
     /* .image-container{
        height: 40vh;
     } */
}

/* COMPANY GRID  */

.logo-txt {
    color: rgb(27, 20, 20);
    font-family: Inter , sans-serif;
    font-weight: 500;

}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* border: 2px solid black; */
    animation: slideFromLeft 1s ease forwards;
}

.companies-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.4rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 1.6rem;
    margin-bottom: 8rem;
    padding: 1.8rem 2.5rem;
}

.company-logo {
    font-size: 1rem;
    font-weight: 300;
    color: lightgrey;
    display: flex;
    gap: 0.6rem;
}

.svg-img {
    height: 20px;

}

@media screen and (min-width: 640px){
    .companies-grid {
        grid-template-columns: repeat(4,1fr);
    }
}

/*  CARD- LAYOUT -CONTAINER */

/* .layout-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;    

} */

/* .card-two {
    height: 30vh;
} */

/* .card-1, .card-2, .card-3 {
    background-color: #baa8a8;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card {
    background-color: #a89e9e;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card img {
    width: 100%;    
    border-radius: 20px;
    object-fit: cover;
} */

/* @media (max-width: 768px) {
    .layout-container {
        grid-template-columns: 1fr;
    }
} */

/* .layout-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */

/* .card {
     background-color: #a59b9b;
    border-radius: 20px;  
    
    overflow: hidden;  makes image fit the card perfectly 
    margin: auto;
} */

/* .card img {
    width: 100%;
    height: 100%;
    object-fit: cover; fills container without stretching
} */


/* 3.CARD - CONTAINER  */

.feature-container {
    background-color: var(--light-gray);
    padding: 20px 30px;
    text-align: center;
}

.feature-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap : 1rem;
}


.main-title-one {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 34, 0);
}

.main-description-one {
    color: var(--dark-gray);
    padding: 4px;
    font-size: 1.1rem;
}

.feature-grid {
    display: grid;
    /* gap: 1rem; */
    grid-gap: 2rem ;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1468de;
    padding: 1.6rem;
    border-radius: 1rem;
}

.feature-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-container {
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-svg {
    width: 1.5rem;
    height: 1.5rem;
}

.feature-title {
    color: white;
}

.feature-description {
    color: white;
}

.feature-card:nth-child(2) {
    background-color: #ff6289;
}

.feature-card:nth-child(3) {
    background-color: #fcbf58;
}

.feature-card:nth-child(4) {
    background-color: #44bfc3;
}

.feature-card:nth-child(5) {
    background-color: #77b05d;
}

.feature-card:nth-child(6) {
    background-color: #7d78b1;
}

.feature-title {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

@media screen and (max-width : 768px ){
    .feature-grid {
        grid-template-columns: repeat(1,1fr);
        margin: 0 2rem;
    }
}

          /* 4.TESTIMONAL CSS */

.testimonal-container {
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}

.testimonal-title {
    font-size: 1.685rem;
    font-weight: bold;
}

.testimonal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 4rem;
}

/* .testimonal-grid {
    display: flex;
    justify-content: center;
} */

.testimonal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    justify-items: center;      /* centers each item in its cell */
    justify-content: center;    /* centers the entire grid content */
    gap: 2rem;
}

.avatar-img {
    height: 2.3rem;
    width:  2.3rem;
}

.testimonal-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1.1rem;
    transition: transform 0.3s ease , box-shadow  0.3s ease;
}

.testimonal-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    border: 1px solid blue;
}

.testimonal-card:hover{
    transform: matrix3d(30deg);
    /* box-sizing: content-box; */
    
}