*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* min-width: 95vw; */
    padding: 2rem 1rem;
    /* margin: 0 auto; */

}

.header_container{
    margin-bottom: 2.8rem;

}

.header_title{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
}

.header_desc{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}

.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2px;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(255, 3, 3);
}

.card_desc{
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(243, 229, 229);
}

.card_title a:hover {
    color: blue;
}

.card_title_anchor:hover .card_title {
    color: blue;
}
/* c */
.card_footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 1.5rem;
    font-size: 0.85rem;
    color: #000000;
}

.author_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.author_container {
    display: flex;
    align-items: center;
}

.author_info_container {
    display: flex;
    flex-direction: column;
}

.card_tag_container {
    background-color: #ff6b6b;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    color: white;
    font-size: 0.75rem;
}

.header_title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

.header_desc {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
}

