
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-color : #6366f1
    --accent-color  : #3f83f8
    --text-color    : #333333 ;
    --link-color: #2563eb ;
    --background-color : #fff;
    --light-gray : #f0f0f0;
    --gray : #808080;
    --dark-gray : #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
}

/* 
.header {
    border: solid 1px black;
}
 */

.logo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; /* optional if you want to adjust text */
     font-weight: 700; /* Bold */
    font-size: 32px;
    color: rgb(175, 0, 114);
}

a img {
    height: 40px; /* set desired height */
    width: auto;  /* keeps proportions */
}
 
.header-content {
    display: flex;
    justify-content: space-between; /* space between logo, nav, button */
    align-items: center;            /* vertically center everything */
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.logo-icon {
    /* size: 300%; */
    height: 40px;
    width: 80px;
    
}

.nav {
    display: none;
    gap: 1.5rem;
    font-weight: bold;
   
}

@media screen and (min-width : 768px) {
    .nav {
        display: flex;

    }    
}

.nav-link {
     color: #7190d2;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.Contact-Button{
    display: none;
    border: none;
    font-weight: bold;
    padding: 10px 20px ;
    background-color: #0040ff;
    color: #ffffff;
    border-radius: 3px;
    transition: all 0.1s;
}

@media screen and (min-width : 768px) {
    .Contact-Button {
        display: block;
    }
}
.Contact-Button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    background-color: #fff;
    padding: 0.5rem 1.0rem;
}

@media screen and (max-width : 768px) {
    .menu-button {
      display: block;

    }    
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;

}