
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-color : #6366f1
    --accent-color  : #3f83f8
    --text-color    : #333333 ;
    --link-color: #2563eb ;
    --background-color : #fff;
    --light-gray : #f0f0f0;
    --gray : #808080;
    --dark-gray : #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
}

/* 
.header {
    border: solid 1px black;
}
 */

.logo-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; /* optional if you want to adjust text */
     font-weight: 700; /* Bold */
    font-size: 32px;
    color: rgb(175, 0, 114);
}

a img {
    height: 40px; /* set desired height */
    width: auto;  /* keeps proportions */
}
 
.header-content {
    display: flex;
    justify-content: space-between; /* space between logo, nav, button */
    align-items: center;            /* vertically center everything */
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.logo-icon {
    /* size: 300%; */
    height: 40px;
    width: 80px;
    
}

.nav {
    display: none;
    gap: 1.5rem;
    font-weight: bold;
   
}

@media screen and (min-width : 768px) {
    .nav {
        display: flex;

    }    
}

.nav-link {
     color: #7190d2;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.Contact-Button{
    display: none;
    border: none;
    font-weight: bold;
    padding: 10px 20px ;
    background-color: #0040ff;
    color: #ffffff;
    border-radius: 3px;
    transition: all 0.1s;
}

@media screen and (min-width : 768px) {
    .Contact-Button {
        display: block;
    }
}
.Contact-Button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    background-color: #fff;
    padding: 0.5rem 1.0rem;
}

@media screen and (max-width : 768px) {
    .menu-button {
      display: block;

    }    
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;

}
            /* 1.HERO SECTION STYLING */
.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    align-items: center;
    margin: 0 auto ;

}

.content-left {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

.content-title{
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
}

.content-description {
    color: #555;
    font-size: 1.2rem;
}

.section-label {
    font-weight: 650;
    font-size: large;
    color: rgb(29, 102, 239);
}

.section-button {
     display: flex;
    /* justify-content: space-between; */ 
    padding: 1rem;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button { 
    background-color: #0040ff;
    color: white;
    padding: 10px  20px;
    border-radius: 3px;
    font-weight: bold;
}

.tour-button {
    background-color: black;
    color: white;
    padding: 10px  20px;
    border-radius: 3px;
    font-weight: bold;
}

.start-button:hover {
    background-color: #2456c2;
}

.tour-button:hover{
    background-color: #292626;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-image {
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px){
     .main-section{
        flex-direction: row;

    }   
    
     .content-left {
        max-width: 50%;
        text-align: left;
     }

     .content-title{
        padding-left: 0;
     }
     .section-button{
        justify-content: start;
        padding-left: 0;
     }
     /* .image-container{
        height: 40vh;
     } */
}

/* COMPANY GRID  */

.logo-txt {
    color: rgb(27, 20, 20);
    font-family: Inter , sans-serif;
    font-weight: 500;

}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* border: 2px solid black; */
    animation: slideFromLeft 1s ease forwards;
}

.companies-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.4rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 1.6rem;
    margin-bottom: 10rem;
    padding: 1.8rem 2.5rem;
}

.company-logo {
    font-size: 1rem;
    font-weight: 300;
    color: lightgrey;
    display: flex;
    gap: 0.6rem;
}

.svg-img {
    height: 20px;

}

@media screen and (min-width: 640px){
    .companies-grid {
        grid-template-columns: repeat(4,1fr);
    }
}

